#pm{
    width:500px;
    height:500px;
    border-radius: 10%;
    border-color: rgb(255, 133, 157);
}
#cm{
    width:500px;
    height:500px;
    border-radius: 10%;
    border-color: rgb(255, 133, 157);
}#bc{
    width:500px;
    height:500px;
    border-radius: 10%;
    border-color: rgb(255, 133, 157);
}#rm{
    width:500px;
    height:500px;
    border-radius: 10%;
    border-color: rgb(255, 133, 157);
}